:root {
  --primary-black-color: #212121;
  --secondary-black-color: #000000;
  --secondary-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgb(255, 255, 255, 0.6);
  --grey-color: #757575;
  --background-color: #f5f4fa;
  --secondary-background-color: #2f303a;
}
/* Common styles */

body {
  color: var(--grey-color);
}

body ul {
  list-style: none;
}

body a {
  color: #000;
  text-decoration: none;
}

/* Portfolio.html */

/* Header */

/* Nav */

.header-logo {
  color: var(--secondary-black-color);
  text-decoration: none;
}

.header-logo > span {
  color: var(--secondary-color);
}

.nav {
  color: var(--primary-black-color);
  text-decoration: none;
}

.nav:hover,
.nav:focus {
  color: var(--secondary-color);
}

.nav-link {
  color: var(--primary-black-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--secondary-color);
}

.header-address {
  color: var(--grey-color);
}

.header-address:hover,
.header-address:focus {
  color: var(--secondary-color);
}

/* Main */

/* Gallery buttons */

.gallery-button {
  color: var(--primary-black-color);
  background-color: var(--background-color);
}

.gallery-button:hover,
.gallery-button:focus {
  color: var(--primary-white-color);
  background-color: var(--secondary-color);
}

/* Gallery titles */

.gallery-title {
  color: var(--primary-black-color);
}

.gallery-desc {
  color: var(--grey-color);
}

.gallery-features {
  color: var(--primary-white-color);
  background-color: var(--secondary-color);
}

/* Добавить всплывающий текст при событии :hover, :focus  */

/* footer */
.footer-background {
  background-color: var(--secondary-background-color);
}

.footer-city {
  color: var(--primary-white-color);
}

.footer-address {
    color: var(--secondary-white-color);
}

.footer-city:hover,
.footer-city:focus,
.footer-address:hover,
.footer-address:focus {
    color: var(--secondary-color);
}

.footer-logo {
color: var(--primary-white-color)
} 

.footer-logo > span {
color: var(--secondary-color);
}

.footer-subtitle {
color: var(--primary-white-color);
text-transform: uppercase;
}

.sign-button {
    color: var(--primary-white-color);
    background-color: var(--secondary-color);
}

/* index.html */

.title-hero {
  color: var(--primary-white-color);
  background-color: black;

  text-transform: uppercase;
  text-align: center;
}

.button-order {
  color: var(--primary-white-color);
  background-color: var(--secondary-color);
}

.section-title {
color: var(--primary-black-color);
}

.features-subtitle {
  color: var(--primary-black-color);
}

.features-link {
  background-color: grey;
  color: var(--primary-white-color);
}

.dev-name {
color: var(--primary-black-color);
}