:root {
  --primary-black-color: #000000;
  --secondary-black-color: #212121;
  --secondary-color: #2196f3;
  --primary-wwhite-color: #ffffff;
  --secondary-white-color: rgb(255, 255, 255, 0.6);
  --grey-color: #757575;
}
